table {
  width: 100%;
  padding: 30px;
  font-weight: 400;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  padding: 30px;
  font-weight: 400;
}

.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

.mat-column-select {
  overflow: initial;
}
