<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="'/'" routerLinkActive="active" class=".home-redirect"><b>Easy College Online System</b></a>
    <span class="menu-spacer"></span>
    <div>
      <a [routerLink]="'/students-list'" routerLinkActive="active" mat-button> Students </a>
      <a [routerLink]="'/teachers-list'" routerLinkActive="active" mat-button> Teachers </a>
      <a [routerLink]="'/fields-of-study-list'" routerLinkActive="active" mat-button> Fields of Study </a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span style="font-size: 12px;">Easy College Online System - to make management a pleasure.</span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
