<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>ECOS</h1>
    <span class="menu-spacer"></span>
    <div>
      <a [routerLink]="'/students'" mat-button> Students </a>
      <a [routerLink]="'/teachers'" mat-button> Teachers </a>
      <a [routerLink]="'/fields-of-study'" mat-button> Fields of Study </a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span style="font-size: 12px;">Easy College Online System - to make management a pleasure.</span>
  </mat-toolbar-row>
</mat-toolbar>
