<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">{{pageTitle}}</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" [matMenuTriggerFor]="listMenu">Listy</a>
        <mat-menu #listMenu="matMenu">
          <a class="dropdown-item" routerLink="/students">Lista studentów</a>
          <a class="dropdown-item" routerLink="/teachers">Lista nauczycieli</a>
          <a class="dropdown-item" routerLink="/fos">Lista kierunków</a>
        </mat-menu>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" [matMenuTriggerFor]="addMenu">Dodaj</a>
        <mat-menu #addMenu="matMenu">
          <a class="dropdown-item" routerLink="/student/add">Studenta</a>
          <a class="dropdown-item" routerLink="/teacher/add">Nauczyciela</a>
          <a class="dropdown-item" routerLink="/fos/add">Kierunek</a>
        </mat-menu>
      </li>
    </ul>
  </div>
  <div class="navbar-brand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/login">Zaloguj</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <p class="text-center" style="margin-top: 10px">Easy College Online System | Copyright @2020 | Designed by Michał Krzyżak</p>
  <ul class="social_footer_ul">
    <li><a href="https://github.com/MichalKrzyzak"><i class="fab fa-github"></i></a></li>
    <li><a href="https://www.facebook.com/kazyzrk"><i class="fab fa-facebook"></i></a></li>
    <li><a href="https://www.linkedin.com/in/michał-krzyżak-383550127/"><i class="fab fa-linkedin"></i></a></li>
  </ul>
</footer>
