/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
  font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

.ecos-login {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.ecos-head {
  color: rgba(255,255,255,275);
}

.ecos-column-name {
  color: rgb(74, 80, 86);
}

.btn-ecos {
  color:rgba(255,255,255,275);
  background-color:rgb(74, 80, 86);
  border-color:rgb(74, 80, 86);
}

.btn-ecos:hover {
  color: aliceblue;
}
